//Color palete
$blue:#29a2d9;
$blue2: #17698e;
$redlt:#15516D;
$white:#ffffff;
$text:#6f6f6f;
$dgray:#252728;
$lgrey: #f4f4f4;
//opacities
$op-blue:rgba(0,184,234,0.8);
$op-blue2:rgba(0,184,234,0.7);

$op-red:rgba(219,67,73,0.7);

//screens
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$sm-desktop-width: 1024px;
$big-desktop-width: 1481px;


